h1 {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.listOfTasks {
    list-style-type: none;
}

.singleTask {
    border: 1px solid black;
    padding: 5px;
}
.close {
    /* display: none; */
    position: absolute;
    right: 5px;
    top: 0px;
}