body {
    background-image: url(river.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    color: black;
}

p {
    background-color: rgb(10, 10, 10, 0.8);
}
