#header {
    background-color: rgb(34, 34, 51);
    color: white;
}
.title {
    margin-right: 600px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.bitshow {
   margin-left: 30px;
}
#searchForm {
    position:absolute;
    right: 0%;
    margin-right: 30px;
}
#search-results {
    color: white;
    position: absolute;
    top: 52px;
    right: 3.5%;
    list-style: none;
    border: 1px solid lightblue;
    padding: 10px;
    border-radius: 3px;
   
    width: 190px;
    z-index: 10;
    background-color: rgb(34, 34, 51);
    display: none;
}

#search-results  :first-child{
    border: 0px;
}

.searchItem {
    border-top: 1px solid lightblue;
}

.searchItem:hover {
    cursor: pointer;
}
.container {
    height: 100%;
}
img {
    width:300px;
    display:block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.col-4 {
    padding: 20px;
}
.showTitle {
    display:block;
    margin:0 auto;
    text-align: center;
}
#footer {
    background-color: rgb(34, 34, 51);
    color: white;
}
