.title {
    margin-right: 600px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.bitshow {
    margin-right: 60%;
}
.container {
    height: 1000px;
}
img {
    width:300px;
    display:block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.col-4 {
    padding: 20px;
}
.showTitle {
    display:block;
    margin:0 auto;
    text-align: center;
}